.App {
  text-align: center;
}

* {
  margin: 0px auto;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.cold{
  background-color: #035aa6 ;
}
.hot {
  background: #ff5200;
}